.loader {
    width: fit-content;
    font-weight: bold;
    font-family: monospace;
    white-space: pre;
    font-size: 30px;
    line-height: 1.2em;
    height: 1.2em;
    overflow: hidden;
    background-color: black; /* 背景色を黒に設定 */
    color: white; /* 文字色を白に設定 */
    text-align: center; /* 文字を中央揃え */
    z-index: 10000; /* ローダーをさらに前面に表示 */
}
.loader:before {
    content: "Loading...\A⌰oading...\A⌰⍜ading...\A⌰⍜⏃ding...\A⌰⍜⏃⎅ing...\A⌰⍜⏃⎅⟟ng...\A⌰⍜⏃⎅⟟⋏g...\A⌰⍜⏃⎅⟟⋏☌...\A⌰⍜⏃⎅⟟⋏☌⟒..\A⌰⍜⏃⎅⟟⋏☌⟒⏁.\A⌰⍜⏃⎅⟟⋏☌⟒⏁⋔";
    white-space: pre;
    display: inline-block;
    animation: l39 1s infinite steps(11) alternate;
}
  
@keyframes l39 {
    100% { transform: translateY(-100%); }
}

.loader-active {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: black; /* 背景色を黒に設定 */
    color: white; /* 文字色を白に設定 */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; /* 最前面に表示 */
}